<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back Pain Detection</title>
</head>
<body>
    <h1>Back Pain Detection Form</h1>
    <form action="/predict" method="POST">
        <label for="Pelvic_Incidence">Pelvic Incidence:</label>
        <input type="text" id="Pelvic_Incidence" name="Pelvic_Incidence"><br><br>

        <label for="Pelvic_Tilt">Pelvic Tilt:</label>
        <input type="text" id="Pelvic_Tilt" name="Pelvic_Tilt"><br><br>

        <label for="Lumbar_Lordosis_Angle">Lumbar Lordosis Angle:</label>
        <input type="text" id="Lumbar_Lordosis_Angle" name="Lumbar_Lordosis_Angle"><br><br>

        <label for="Sacral_Slope">Sacral Slope:</label>
        <input type="text" id="Sacral_Slope" name="Sacral_Slope"><br><br>

        <label for="Pelvic_Radius">Pelvic Radius:</label>
        <input type="text" id="Pelvic_Radius" name="Pelvic_Radius"><br><br>

        <label for="Spondylolisthesis_Degree">Spondylolisthesis Degree:</label>
        <input type="text" id="Spondylolisthesis_Degree" name="Spondylolisthesis_Degree"><br><br>

        <label for="Pelvic_Slope">Pelvic Slope:</label>
        <input type="text" id="Pelvic_Slope" name="Pelvic_Slope"><br><br>

        <label for="Direct_Tilt">Direct Tilt:</label>
        <input type="text" id="Direct_Tilt" name="Direct_Tilt"><br><br>

        <label for="Thoracic_Slope">Thoracic Slope:</label>
        <input type="text" id="Thoracic_Slope" name="Thoracic_Slope"><br><br>

        <label for="Cervical_Tilt">Cervical Tilt:</label>
        <input type="text" id="Cervical_Tilt" name="Cervical_Tilt"><br><br>

        <label for="Sacrum_Angle">Sacrum Angle:</label>
        <input type="text" id="Sacrum_Angle" name="Sacrum_Angle"><br><br>

        <label for="Scoliosis_Slope">Scoliosis Slope:</label>
        <input type="text" id="Scoliosis_Slope" name="Scoliosis_Slope"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
